<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComeOn - 로그인</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="logo">
        <strong>C</strong>omeOn
    </div>

    <div class="login-container">
        <h2>로그인</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <input name= "username" placeholder="id">
            </div>
            <div class="input-group">
                <input name = "password" type="password" placeholder="Password">
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div class="options">
            <a href="#">비밀번호 잊음? ㅅㄱ</a>
            <span> | </span>
            <a href="/register">회원가입</a>
        </div>
        <div class="error-message" th:if="${param.error}">
            아이디 또는 비밀번호가 잘못되었습니다.
        </div>

    </div>

</body>
</html>